body {
    /*    background-color: beige;*/
    font-family: 'Gelasio', serif;
}

li {
    padding: 5px 0;
    line-height: 16pt;
}

p {
    line-height: 18pt;
}

.arrow {
    height: 120px;
    width: auto;
    position: absolute;
    left: 160px;
    top: 250px;
    z-index: 1;
}

.color {
    color: #ffd500;
}

.macbook-container {
    background-image: url("../img/macbook.png");
    width: 1327px;
    height: 716px;
    transform: scale(0.7)
}

.iphone-container {
    background-image: url("../img/iphone.png");
    width: 419px;
    height: 840px;
    transform: scale(0.6);
    margin-left: 40%;
    position: relative;
    bottom: 100px;
}

.site-img {
    width: 870px;
    height: 555px;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.site-img img {
    width: 870px;
    height: auto;
}

.mobile-img {
    width: 350px;
    height: 700px;
    overflow: auto;
    margin: 0 auto;
    position: relative;
    top: 110px;
}

.mobile-img img {
    width: 350px;
    height: auto;
}

.info-container {
    position: absolute;
    top: 100px;
    width: 300px;
    text-align: initial;
}

.poster {
    transform: scale(0.9);
    margin-left: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

#skills {
    width: 200px;
    text-align: right;
    padding-left: 200px;
}

#ratings {
    width: 200px;
    padding-right: 200px;
}

.sm {
    font-size: 70%;
}

.sm-2 {
    font-size: 80%;
}

.hidden {
    overflow: hidden;
    background-color: black;
}

.checked {
    color: #ffed94;
}

.title {
    position: absolute;
    top: -100px;
}

@media only screen and (max-width: 1600px) {

}