body {
    overflow: none;
    margin: 0;
    font-family: museo-sans, sans-serif;
}

section {
    position: relative;
}

h1 {
    font-size: 200%;
    font-family: museo-sans-rounded, sans-serif;
    font-weight: 700;
    color: #4A4A4A;
    padding: 5px 0;
}

.content h1:hover {
    text-decoration: line-through;
    cursor: default;
}

p a {
    text-decoration: none;
    color: #009EE2;
}

p a:hover {
    text-decoration: underline;
}

button {
    color: white;
    padding: 15px 20px;
    margin: 15px 0 40px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

button:hover {
    -webkit-box-shadow: 0px 5px 40px -15px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -15px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    background-color: #009EE2;
}

#about {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20% 0 10%;
}

#about p {
    line-height: 25px;
}

#about h1, #about p {
    margin: auto;
}

.me {
    width: 25%;
    height: auto;
    margin-bottom: 30px;
}

.blue {
    background-color: #005BA9;
}

.light-blue {
    background-color: #009EE2;
}

.green {
    background-color: #B4DDBF;
}

.tourqoise {
    background-color: #54E7C7;
}

.yellow {
    background-color: #F4B93D;
}

.rose {
    background-color: #EABAD8;
}

.light-grey {
    background-color: #F4F3F3;
}

.white {
    background-color: ##FAFAFA;
}

.grey {
    background-color: #4A4A4A;
}

.grid-container-height, .item {
    height: 100vh;
}

.item {
    color: white;
    font-size: 90%;
}

.sm {
    font-weight: bold;
}

.sm-2 {
    font-size: 80%;
}

.overflow {
    overflow: auto;
}

.hidden {
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 65%;
}

#about {

}

.number {
    position: absolute;
    top: 50px;
    left: 50px; 
}

.link {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.fa-link {
    color: white;
}

.fa-link:hover {
    color: #009EE2;
}

.info-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 280px;
}

.macbook-container {
    background-image: url("../img/macbook.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(0.8);
    position: relative;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.8%;
    bottom: 5%;
}

.site-img {
    width: 66%;
    height: 0;
    padding-bottom: 42%;
    overflow: auto;
    position: relative;
    background-color: black;
    border: grey solid 1px;
}

.site-img:hover {
    cursor: s-resize;
}

.site-img img {
    width: 100%;
    height: auto;
    position: absolute;
}

.site-img video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 5%;
}

.img-container-1 {
    background:url("../img/iphone-site.png");
}

.img-container-2 {
    background:url("../img/poster-fleuramour.png");
}

.img-container-3 {
    background:url("../img/poster-gravity.png");
}

.img-container-1, .img-container-2, .img-container-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: inherit;
    transform: scale(0.6);
}

.img-container img {
    max-width: 70vh;
    max-height: 100%;
}

.skillset {
    width: 70%;
    margin: 0 20% 0 10%;
    padding: 10% 0;
}

.skillset h1 {
    margin-bottom: 20px;
}

.skills {
    width: 100%;
    background-color: #FAFAFA;
    height: 20px;
    margin: 20px 0;
    border-radius: 25px;
}

.level {
    height: 20px;
    background-color: #54E7C7;
    border-radius: 25px;
}

.html {width: 90%;}
.javascript {width: 90%;}
.node {width: 80%;}
.wordpress {width: 75%;}
.illustrator {width: 85%;}
.premiere {width: 70%;}

.footer {
    padding: 30px;
    color: #A1A1A1;
    font-size: 80%;
    text-align: center;
    background-color: #222222;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.fade {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 100%;
    }

    .macbook-container {
        transform: scale(0.95);
    }
}

@media only screen and (max-width: 600px) {
    .info-container {
        left: 25px;
        bottom: 25px;
    }
    
    .number {
        left: 25px;
        top: 25px;
    }
    
    .link {
        right: 25px;
        bottom: 25px;
    }
}
